<?php

$config = [
    'app' => [
        'appName' => 'Tasks',
        'lang' => 'en',
        'basePath' => '/',
        'rootPath' => dirname(__DIR__) . DIRECTORY_SEPARATOR,
        'templatesDirPath' => 'templates'
    ],
    'conn' => [
        'dbname' => 'dbname',
        'user' => 'username',
        'password' => 'your_password',
        'host' => 'localhost',
        'driver' => 'pdo_mysql'
    ]
];
