<?php

$config = [
    'app' => [
        'rootPath' => dirname(__DIR__) . '/',
        'templatesDirPath' => 'templates'
    ],
    'conn' => [
        'dbname' => 'dbname',
        'user' => 'username',
        'password' => 'your_password',
        'host' => 'localhost',
        'driver' => 'pdo_mysql'
    ]
];
